.card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: auto;
}

.card__image {
  width: 282px;
  height: 282px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__info {
  display: flex;
  padding: 25px 15px 31px 25px;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  width: 21px;
  height: 19px;
  cursor: pointer;
  background-image: url("../images/heart_disabled.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  margin: 0;
  border: none;
  padding: 0;
  transition: opacity, 0.1s linear;
}

.card__like:hover {
  opacity: 0.5;
}
