.card {
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  row-gap: 25px;
  margin: auto;
}

.card__image {
  width: 100%;
  height: 282px;
}
.card__info {
  display: flex;
  width: 246px;
  margin-left: 21px;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  cursor: pointer;
  margin: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.card__like-image {
  width: 21px;
  height: 19px;
}
