.elements {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px 17px;
  padding-top: 50px;
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
  }
}
