.footer {
  margin: 68px 0 0 0;
  width: 100%;
}

.footer__text {
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 1.22px;
  min-width: 282px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 50px auto 0;
    width: 288px;
  }
}
