.page {
  background-color: #000;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  min-height: 100%;
}

.page__content {
  max-width: 880px;
  min-width: 320px;
  margin: auto;
  position: relative;
  padding: 0 0 60px;
}
