.profile {
  color: #fff;
  display: flex;
}

.profile__image-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  object-fit: cover;
}

.profile__image-overlay {
  background-color: #000;
  border-radius: 50%;
  background-image: url("../images/pencil.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-right: 30px;
  opacity: 0;
  transition: opacity 0.2s linear;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.profile__image-overlay:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name edit"
    "description description";
  grid-template-rows: minmax(auto, 39px) auto;
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 16px 18px;
  align-self: center;
}

.profile__name {
  grid-area: name;
  align-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
}

.profile__description {
  grid-area: description;
  margin: 0;
  font-size: 18px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  grid-area: edit;
  align-self: center;
  padding: 0;
  height: 24px;
  width: 24px;
  background-position: center;
  background-image: url("../images/edit_button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: solid 1px #fff;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  padding: 0;
  margin-left: auto;
  align-self: center;
  height: 50px;
  width: 150px;
  background-position: center;
  background-image: url("../images/add_button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: solid 2px #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile {
    max-width: 90%;
    margin: auto;
  }
  .profile__add-button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    flex-direction: column;
    width: 282px;
    align-items: center;
    margin: auto;
  }

  .profile__image {
    margin: 0;
  }

  .profile__info {
    margin: 26.25px 0 36px;
    grid-template-areas:
      "name edit"
      "description description";
    grid-template-rows: minmax(auto, 22px) auto;
    grid-template-columns: minmax(auto, 196px) auto;
    gap: 10px 14px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.21;
  }

  .profile__description {
    justify-self: center;
    font-size: 14px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    margin: auto;
    width: 100%;
  }
}
